@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@mixin bg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin grid($dev){
    @if($dev == 'tablet'){
        width: 90%;
        max-width: 700px;
    }@else if($dev == 'mobile'){
        width: 90%;
        max-width: 440px;
    }@else{
        width: 80%;
        max-width: 1080px;
        margin: 0 auto;
    }
}

html{
    font-size: 3vw;
    body{
        font-size: 0.7vw;
        overflow-x: hidden;
        width: 100vw;
    }
}

// header
.hdrWrap{
    header{
        @include grid('pc');
        display: flex;
        justify-content: space-between;
        font-family: 'Gowun Batang', serif;
        align-items: center;
        .hdrLeft{
            width: calc(100% / 12 * 8);
            display: flex;
            justify-content: space-between;
            .logo{
                background-image: url('./images/logo.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                width: calc(100% / 7 * 1.2);
                height: auto;    
            }
            .nav{
                display: flex;
                justify-content: space-between;
                width: calc(100% / 7 * 4.5);
                line-height: #{'min(2rem,80px)'};
                font-weight: 700;
                font-size: #{'min(2em,20px)'};
                li{
                    cursor: pointer;
                }
            }
        }
        .hdrRight{
            width: calc(100% / 12 * 2.5);
            .tab{
                display: flex;
                justify-content: space-between;
                font-size: #{'min(1.8em,18px)'};
                font-weight: 700;
                cursor: pointer;
                min-width: 150px;
                li{
                    border: 2px solid #ccc;
                    border-radius: 25px;
                    padding: #{'min(1em,10px)'}                   
                }
                li:nth-child(2){
                    background-color: #bed500;
                    border: 2px solid #bed500;
                    color: #fff;
                }
            }
        }
    }
}

// content
.cntWrap{
    .content{
        @include grid('pc');
    }
    // content1
    .cnt1{
        margin: 0;
        header{}
        section{
            .artView{
                position: relative;
                height: #{'min(86em,860px)'};
                width: 100vw;
                .artGroup{
                    width: 600%;
                    display: flex;
                    justify-content: space-between;
                    // transition: all .3s;
                    article{
                        width: calc(100% / 6);
                        position: relative;
                        .image{
                            height: #{'min(86em,860px)'};
                            width: 100vw;
                            @include bg();
                            @for $i from 1 through 6{
                                &.i#{$i}{
                                    background-image: url('./images/product/main_pic#{$i}.jpg');
                                }
                            }
                            .i7{
                                background-image: url('./images/product/main_pic1.jpg');
                            }
                        }
                        .texts{
                            position: absolute;
                            top: #{'min(8rem,320px)'};
                            left: 0;
                            right: 0;
                            margin: auto;
                            text-align: center;
                            font-family: 'Noto Sans KR', serif;
                            color: #ffffff;
                            font-weight: 700;
                            h3{
                                font-size: #{'min(6em,60px)'};
                                line-height: #{'min(2rem,80px)'};
                            }
                            p{
                                margin-top: #{'min(2rem,80px)'};
                                font-size: #{'min(1.8em,18px)'};
                                line-height: #{'min(1rem,40px)'};
                            }
                        }
                    }
                }
                .paging{
                    width: calc(100% / 12);
                    display: flex;
                    justify-content: space-between;
                    position: absolute;
                    left:0;
                    right: 0;
                    bottom: #{'min(1rem,40px)'};
                    margin: auto;
                    li{
                        width: #{'min(1em,10px)'};
                        height: #{'min(1em,10px)'};
                        border-radius: #{'min(1em,10px)'};
                        background-color: rgba(223,223,223,0.6);
                        transition: all .3s;
                    }
                    .show{
                        width: #{'min(1rem,40px)'};
                        background-color: #ffffff;
                    }
                }
            }
            .textView{
                position: absolute;
                .textGroup{
                    display: flex;
                    justify-content: space-between;
                    width: 600%;
                    article{
                        width: calc(100% / 6);
                    }
                }
            }
        }
    }
    // content2
    .cnt2{
        margin-top: #{'min(2rem,80px)'};
        header{
            display: flex;
            justify-content: space-between;
            h2{
                font-family: 'Noto Sans KR', serif;
                font-size: #{'min(4.8em,48px)'};
                line-height: #{'min(2rem,80px)'};
                font-weight: 700;
            }
            .btn{
                display: flex;
                justify-content: space-between;
                width: calc(100% / 12);
                margin-top: #{'min(2rem,80px)'};
                i{
                    font-size: #{'min(2em,20px)'};
                    font-weight: 700;
                    line-height: #{'min(1rem,40px)'};
                }
            }
        }
        section{
            .artView{
                width: 100%;
                overflow: hidden;
                .artGroup{
                    width: 200%;
                    .artTop{
                        display: flex;
                        justify-content: space-between;
                        article{
                            width: calc(100% / 6 - 20px);
                            .image{
                                @include bg();
                                height: #{'min(32em,320px)'};
                                width: 100%;
                                @for $i from 1 through 6{
                                    &.i#{$i}{
                                        background-image: url('./images/product/cnt2_pic#{$i}.jpg');
                                    }
                                }
                            }
                            .texts{
                                font-family: 'Noto Sans KR', serif;
                                padding-left: #{'min(2.5em,25px)'};
                                padding-bottom: #{'min(6em,60px)'};
                                background-color: rgba(113,173,44,0.8);
                                color: #fff;
                                h3{
                                    line-height: #{'min(2rem,80px)'};
                                    font-size: #{'min(2em,20px)'};
                                    font-weight: 700;
                                }
                                p{
                                    font-size: #{'min(1.6em,16px)'};
                                    line-height: #{'min(2em,20px)'};
                                }
                            }
                        }
                    }
                    .artBtm{
                        margin-top: #{'min(1rem,40px)'};
                        display: flex;
                        justify-content: space-between;
                        article{
                            width: calc(100% / 6 - 20px);
                            .image{
                                @include bg();
                                height: #{'min(32em,320px)'};
                                width: 100%;
                                @for $i from 6 through 12{
                                    &.i#{$i}{
                                        background-image: url('./images/product/cnt2_pic#{$i}.jpg');
                                    }
                                }
                            }
                            .texts{
                                font-family: 'Noto Sans KR', serif;
                                padding-left: #{'min(2.5em,25px)'};
                                padding-bottom: #{'min(6em,60px)'};
                                background-color: rgba(113,173,44,0.8);
                                color: #fff;
                                h3{
                                    line-height: #{'min(2rem,80px)'};
                                    font-size: #{'min(2em,20px)'};
                                    font-weight: 700;
                                }
                                p{
                                    font-size: #{'min(1.6em,16px)'};
                                    line-height: #{'min(2em,20px)'};
                                }
                            }
                        }
                    }
                }
            }         
        }
    }
    // content3
    .cnt3{
        margin-top: #{'min(1rem,40px)'};
        font-family: 'Noto Sans KR', serif;        
        .btn{
            width: calc(100% / 12 * 4);
            line-height: #{'min(2rem,80px)'};
            color: #575757;
            font-size: #{'min(1.6em,16px)'};
            text-align: center;
            outline: 1px solid #a4a4a4;
            height: #{'min(2rem,80px)'};
            margin: 0 auto;
            margin-top: #{'min(1rem,40px)'};
            cursor: pointer;
        }
        header{
            h2{
                font-size: #{'min(3.6em,36px)'};
                line-height: #{'min(2rem,80px)'};
                font-weight: 700;
            }
            &::after{
                width: 100%;
                content: '';
                display: block;
                height: #{'min(0.05em,0.5px)'};
                background-color: #a4a4a4;
            }
        }
        section{
            margin-top: #{'min(1rem,40px)'};
            &::after{
                content: '';
                display: block;
                clear: both;
            }            
            .artLeft{
                float: left;
                width: calc(100% / 12 * 6 - 20px);
                margin: 0 10px;
                article{
                    position: relative;
                    .image{
                        height: #{'min(20rem,800px)'};
                        @include bg();
                        background-image: url('./images/product/cnt3_artLeft_pic1.jpg');
                    }
                    .texts{
                        width: calc(100% / 6 * 4.5);
                        background-color: rgba(255,255,255,0.8);
                        position: absolute;
                        right: #{'min(2em,20px)'};
                        bottom: #{'min(1rem,40px)'};
                        padding-left: #{'min(2em,20px)'};
                        h4{
                            font-size: #{'min(1.5em,15px)'};
                            line-height: #{'min(1rem,40px)'};
                            color: #555555;
                        }
                        h3{
                            font-size: #{'min(1.5em,15px)'};
                            line-height: #{'min(1rem,40px)'};
                            color: #000;
                        }
                        .info{
                            display: flex;
                            justify-content: start;
                            width: calc(100% / 4.5 * 2.1);
                            line-height: #{"min(1rem,40px)"};
                            position: relative;
                            i{
                                line-height: #{'min(1rem,40px)'};
                                color: #bed500;
                                font-size: #{'min(2em,20px)'};
                            }
                            h4{
                                font-size: #{'min(1.5em,15px)'};
                                color: #000;
                                &:nth-child(3){
                                    padding-left: calc(100% / 4.5 * 0.7);
                                }
                            }
                            &::after{
                                content: '';
                                display: block;
                                width: 1px;
                                height: #{'min(1em,10px)'};
                                background-color: #a6a6a6;
                                position: absolute;
                                right: #{"min(7.8em,78px)"};
                                top: #{'min(1.7em,17px)'};
                            }
                        }
                    }
                }
            }
            .artRight{
                width: calc(100% / 12 * 6 - 20px);
                float: left;
                margin: 0 10px;
                &::after{
                    display: block;
                    clear: both;
                    content: '';
                }
                article{
                    width: calc(100% / 2 - 20px);
                    margin: 0 10px;
                    float: left;
                    .image{
                        @include bg();
                        height: #{'min(7rem,280px)'};
                        @for $i from 1 through 4{
                            &.i#{$i}{
                                background-image: url('./images/product/cnt3_artRight_pic#{$i}.jpg');
                            }
                        }
                    }
                    .texts{
                        line-height: #{'min(1rem,40px)'};
                        h4{
                            font-size: #{'min(1.5em,15px)'};
                            color: #555555;
                        }
                        h3{
                            font-size: #{'min(1.5em,15px)'};
                        }
                        .info{
                            display: flex;
                            justify-content: start;
                            width: calc(100% / 3 * 2.2);
                            line-height: #{"min(1rem,40px)"};
                            position: relative;
                            i{
                                line-height: #{'min(1rem,40px)'};
                                color: #bed500;
                                font-size: #{'min(2em,20px)'};
                            }
                            h4{
                                font-size: #{'min(1.5em,15px)'};
                                color: #000;
                                white-space: nowrap;
                                &:nth-child(3){
                                    padding-left: calc(100% / 3 * 0.4);
                                }
                            }
                            &::after{
                                content: '';
                                display: block;
                                width: 1px;
                                height: #{'min(1em,10px)'};
                                background-color: #a6a6a6;
                                position: absolute;
                                right: #{"min(8.2em,82px)"};
                                top: #{'min(1.7em,17px)'};
                            }
                        }
                    }
                }
            }
            .artBtm{
                margin-top: #{'min(1rem,40px)'};
                float: left;
                height: 0;
                overflow: hidden;
                &::after{
                    display: block;
                    clear: both;
                    content: '';
                }
                article{
                    width: calc(100% / 4 - 20px);
                    float: left;
                    margin: 0 10px;
                    .image{
                        @include bg();
                        height: #{'min(7rem,280px)'};
                        @for $i from 1 through 8{
                            &.i#{$i}{
                                background-image: url('./images/product/cnt3_artBtm_pic#{$i}.jpg');
                            }
                        }
                    }
                    .texts{
                        line-height: #{'min(1rem,40px)'};
                        h4{
                            font-size: #{'min(1.5em,15px)'};
                            color: #555555;
                        }
                        h3{
                            font-size: #{'min(1.5em,15px)'};
                        }
                        .info{
                            display: flex;
                            justify-content: start;
                            width: calc(100% / 3 * 2.2);
                            line-height: #{"min(1rem,40px)"};
                            position: relative;
                            i{
                                line-height: #{'min(1rem,40px)'};
                                color: #bed500;
                                font-size: #{'min(2em,20px)'};
                            }
                            h4{
                                font-size: #{'min(1.5em,15px)'};
                                color: #000;
                                white-space: nowrap;
                                &:nth-child(3){
                                    padding-left: calc(100% / 3 * 0.4);
                                }
                            }
                            &::after{
                                content: '';
                                display: block;
                                width: 1px;
                                height: #{'min(1em,10px)'};
                                background-color: #a6a6a6;
                                position: absolute;
                                right: #{"min(8.8em,88px)"};
                                top: #{'min(1.7em,17px)'};
                            }
                        }
                    }
                }
                
            }
        }
    }
}

// footer
.ftrWrap{
    margin-top: #{'min(3rem,120px)'};
    .gnbWrap{
        background-color: #09351b;
        .gnb{
            @include grid('pc');
            line-height: #{'min(3rem,120px)'};
            color: #fff;
            display: flex;
            justify-content: space-between;
            position: relative;
            .topBtn{
                width: #{'min(2rem,80px)'};
                height: #{'min(2rem,80px)'};
                text-align: center;
                line-height: #{'min(2rem,80px)'};
                font-size: #{'min(1.6em,16px)'};
                font-family: 'Gowun Batang', serif;
                font-weight: 700;
                background-color: #71ad2c;
                position: absolute;
                left: 0;
                right: 0;
                top: #{'min(-2.5em,-25px)'};
                margin: auto;
                border-radius: 50%;
                cursor: pointer;
            }
            .tabLeft{
                display: flex;
                justify-content: space-between;
                width: calc(100% / 12 * 5.2);
                font-family: 'Gowun Batang', serif;
                font-size: #{'min(2em,20px)'};
                font-weight: 700;
            }
            .tabRight{
                width: calc(100% / 12 * 2);
                display: flex;
                justify-content: space-between;
                font-size: #{'min(3.5em,35px)'};
            }
        }
    }
    footer{
        @include grid('pc');
        display: flex;
        justify-content: space-between;
        font-family: 'Noto Sans KR', sans-serif;
        padding-bottom: #{'min(2rem,80px)'};
        .ftrLeft{
            margin-top: #{'min(1rem,40px)'};
            width: calc(100% / 12 * 6);
            font-size: #{'min(1.2em,12px)'};
            line-height: #{'min(1rem,40px)'};
            .infoTop{
                display: flex;
                justify-content: start;
                width: calc(100% / 6 * 5);
                li:nth-child(2){
                    margin-left: #{'min(2em,20px)'};
                }
                li{
                    position: relative;
                    padding: 0 7px 0 0;
                    white-space: nowrap;
                    &::before{
                        content: '';
                        width: 1px;
                        height: 10px;
                        background-color: #000;
                        position: absolute;
                        right: 0;
                        top: 38%;
                    }
                }
            }
            .infoBtm{                
                color: #a0a0a0;
            }
        }
        .ftrRight{
            display: flex;
            justify-content: space-between;
            margin-top: #{'min(1rem,40px)'};
            font-weight: 700;
            width: calc(100% / 12 * 4);
            font-size: #{'min(1.2em,12px)'};
            line-height: #{'min(2rem,80px)'};
            h4:nth-child(1){
                color: #71ad2c;
            }
            .logo{
                background-image: url('./images/logo_cj.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                height: #{'min(2rem,80px)'};
                width: calc(100% / 4 * 2 - 20px);
            }
        }
    }
}