@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@mixin bg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin grid($dev){
    @if($dev == 'tablet'){
        width: 90%;
        max-width: 700px;
    }@else if($dev == 'mobile'){
        width: 90%;
        max-width: 440px;
    }@else{
        width: 80%;
        max-width: 1080px;
        margin: 0 auto;
    }
}

html{
    font-size: 3vw;
    body{
        font-size: 0.7vw;
        overflow-x: hidden;
        width: 100vw;
        font-family: 'Gowun Batang', serif;
        font-weight: 700;
    }
}

// header
.hdrWrap{
    header{
        @include grid('pc');
        display: flex;
        justify-content: space-between;        
        align-items: center;
        .hdrLeft{
            width: calc(100% / 12 * 8);
            display: flex;
            justify-content: space-between;
            .logo{
                background-image: url('./images/logo.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                width: calc(100% / 7 * 1.2);
                height: auto;    
            }
            .nav{
                display: flex;
                justify-content: space-between;
                width: calc(100% / 7 * 4.5);
                line-height: #{'min(2rem,80px)'};
                font-size: #{'min(2em,20px)'};
                li{
                    cursor: pointer;
                }
            }
        }
        .hdrRight{
            width: calc(100% / 12 * 2.5);
            .tab{
                display: flex;
                justify-content: space-between;
                font-size: #{'min(1.8em,18px)'};
                cursor: pointer;
                min-width: 150px;
                li{
                    border: 2px solid #ccc;
                    border-radius: 25px;
                    padding: #{'min(1em,10px)'}                   
                }
                li:nth-child(2){
                    background-color: #bed500;
                    border: 2px solid #bed500;
                    color: #fff;
                }
            }
        }
    }
}

// main
.mainWrap{
    main{
        @include grid('pc');
        display: flex;
        justify-content: space-between;
        .mainLeft{
            width: calc(100% / 12 * 5);
            padding: #{'min(3rem,120px) 0 min(4rem,160px)'};
            h5{
                font-size: #{'min(1.6em,16px)'};
                line-height: #{'min(1rem,40px)'};                
            }
            .image{
                @include bg();
                background-image: url('./images/the_bibigo/logo_thebibigo.png');
                height: #{'min(8rem,320px)'};
                width: calc(100% / 5 * 3);
            }
            p{
                font-size: #{'min(2em,20px)'};
                margin-top: #{'min(1rem,40px)'};  
            }
        }
        .mainRight{
            width: calc(100% / 12 * 7);
            padding: #{'min(2rem,80px) 0'};
            background-color: #e2ddd7;
            display: flex;
            justify-content: space-between;
            position: relative;
            .image{
                @include bg();
                background-image: url('./images/the_bibigo/thebibigo_main1.jpg');
                height: #{'min(60em,600px)'};
                width: calc(100% / 7 * 6);
                margin-left: calc(100% / 7);
                position: absolute;
                z-index: 5;
            }
            .overGrid{
                width: 50vw;
                height: 100%;
                padding: #{'min(2rem,80px) 0'};
                background-color: #e2ddd7;
                position: absolute;
                right: -49vw;
                top: 0;
                z-index: 1;
            }
        }
    }
}

// content
.cntWrap{
    .content{
        @include grid('pc');
    }
}

// content1
.cntWrap.cntWrap1{
    padding: #{'min(2rem,80px) 0 0'};
    background-color: #faf5ef;
    .cnt1{
        header{
            h2{
                font-size: #{'min(2.4em,24px)'};
                color: #09351b;
            }
            p{
                font-size: #{'min(1.4em,14px)'};
                line-height: #{'min(2em,20px)'};
                color: #5f5f5f;
                margin-top: #{'min(2em,20px)'};
            }
        }
        section{
            article{
                .image{
                    width: calc(100% / 12 * 4.8);
                    height: #{'min(8rem,320px)'};
                    @include bg();
                    background-image: url('./images/the_bibigo/thebibigo_main4.jpg');
                    margin: 0 auto;
                    margin-top: #{'min(1rem,40px)'};
                    top: 40px;
                }
                .texts{
                    margin-top: #{'min(2rem,80px)'};
                    display: flex;
                    justify-content: space-between;
                    .text{
                        width: #{'min(20em,200px)'};
                        height: #{'min(20em,200px)'};
                        border-radius: 50%;
                        background-color: #e2d5c2;
                        color: #09351b;
                        text-align: center;
                        line-height: #{'min(2em,20px)'};
                        position: relative;
                        h4{
                            font-size: #{'min(2.4em,24px)'};
                            margin-top: #{'min(-1.5em,-15px)'};
                        }
                        h3{
                            font-size: #{'min(1.8em,18px)'};
                            position: absolute;
                            top: 40%;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            margin: auto;
                        }
                        h5{
                            font-size: #{'min(1.3em,13px)'};
                            position: absolute;
                            top: 60%;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            margin: auto;
                        }
                    }
                }
            }
        }
    }
}

.cntWrap2{
    margin-top: #{'min(3rem,120px)'};
    .cnt2{
        header{
            .tab{
                display: flex;
                justify-content: space-between;
                li{
                    width: calc(100% / 3 - 20px);
                    text-align: center;
                    line-height: #{'min(2rem,80px)'};
                    outline: 1px solid #999999;   
                    font-size: #{'min(1.8em,18px)'};
                    color: #999999;        
                    cursor: pointer;         
                }
                .now{
                    background-color: #0f411a;
                    color: #fff;
                }
            }
            .texts{
                width: calc(100% / 12 * 9);
                margin: 0 auto;
                margin-top: #{'min(2rem,80px)'};
                font-size: #{'min(2em,20px)'};
                letter-spacing: #{'min(-0.025em,-0.0025px)'};
                line-height: #{'min(3em,30px)'};
                height: #{'min(6em,60px)'};
                overflow: hidden;
            }
        }
        section{
            margin-top: #{'min(3rem,120px)'};
            position: relative;
            .artView{
                height: #{'min(40em,400px)'};
                position: relative;
                // overflow: hidden;
                .artGroup{
                    &:nth-child(1){
                        width: 200%;
                        article{
                            width: calc(100% / 6);
                        }
                    }
                    &:nth-child(2){
                        // display: none;
                        width: 166.30%;
                        article{
                            width: calc(100% / 5);
                        }
                    }
                    &:nth-child(3){
                        // display: none;
                        width: 133%;
                        article{
                            width: calc(100% / 4);
                        }
                    }
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    z-index: 8;
                    article{ 
                        padding-top: #{'min(1rem,40px)'};  
                        .image{
                            height: #{'min(6rem,240px)'};
                            width: 100%;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: contain;
                            @for $i from 1 through 15{
                                &.i#{$i}{
                                    background-image: url('./images/the_bibigo/cnt2_pic#{$i}.png');
                                }
                            }
                        }
                        .texts{
                            text-align: center;
                            font-size: #{'min(2em,20px)'};
                            line-height: #{'min(1rem,40px)'};
                        }
                    }
                }
            }
            .backgroundEffect{
                width: #{'min(25em,250px)'};
                height: #{'min(25em,250px)'};
                border-radius: 50%;
                background-color: #0f411a;
                position: absolute;
                top: 0;
                left: #{'min(0.5em,5px)'};
                bottom: 0;
                right: 0;
                margin: auto;
                z-index: 1;
                transition: all .15s;
                opacity: 0.85;
            }
            .btn{
                width: calc(100% / 12 * 2);
                line-height: #{'min(1rem,40px)'};
                margin: 0 auto;
                margin-top: #{'min(1rem,40px)'};
                color: #fff;
                background-color: #0f411a;
                text-align: center;
                font-size: #{'min(1.8em,18px)'};
                cursor: pointer;
            }
            .slideBtn{
                display: flex;
                justify-content: space-between;
                width: 100%;
                position: absolute;
                left: 0;
                bottom: 50%;
                z-index: 10;
                i{
                    font-size: #{'min(5em,50px)'};
                    color: #fff;
                    position: relative;
                    width: #{'min(5em,50px)'};
                    height: #{'min(7em,70px)'};
                    background-color: rgba( 0, 0, 0, 0.5 );
                    line-height: #{'min(7em,70px)'};
                    text-align: center;
                    cursor: pointer;
                    transition: all .5s;
                }
            }
        }
    }
}

// banner
.bnrWrap{
    margin-top: #{'min(4rem,160px)'};
    width: 100vw;
    height: #{'min(20rem,800px)'};
    @include bg();
    background-image: url('./images/the_bibigo/product_main1.jpg');
}

// footer
.ftrWrap{
    .gnbWrap{
        background-color: #09351b;
        .gnb{
            @include grid('pc');
            line-height: #{'min(3rem,120px)'};
            color: #fff;
            display: flex;
            justify-content: space-between;
            position: relative;
            .topBtn{
                width: #{'min(2rem,80px)'};
                height: #{'min(2rem,80px)'};
                text-align: center;
                line-height: #{'min(2rem,80px)'};
                font-size: #{'min(1.6em,16px)'};
                font-family: 'Gowun Batang', serif;
                font-weight: 700;
                background-color: #71ad2c;
                position: absolute;
                left: 0;
                right: 0;
                top: #{'min(-2.5em,-25px)'};
                margin: auto;
                border-radius: 50%;
                cursor: pointer;
            }
            .tabLeft{
                display: flex;
                justify-content: space-between;
                width: calc(100% / 12 * 5.2);
                font-family: 'Gowun Batang', serif;
                font-size: #{'min(2em,20px)'};
                font-weight: 700;
            }
            .tabRight{
                width: calc(100% / 12 * 2);
                display: flex;
                justify-content: space-between;
                font-size: #{'min(3.5em,35px)'};
            }
        }
    }
    footer{
        @include grid('pc');
        display: flex;
        justify-content: space-between;
        font-family: 'Noto Sans KR', sans-serif;
        padding-bottom: #{'min(2rem,80px)'};
        .ftrLeft{
            margin-top: #{'min(1rem,40px)'};
            width: calc(100% / 12 * 6);
            font-size: #{'min(1.2em,12px)'};
            line-height: #{'min(1rem,40px)'};
            .infoTop{
                display: flex;
                justify-content: start;
                width: calc(100% / 6 * 5);
                li:nth-child(2){
                    margin-left: #{'min(2em,20px)'};
                }
                li{
                    position: relative;
                    padding: 0 7px 0 0;
                    white-space: nowrap;
                    &::before{
                        content: '';
                        width: 1px;
                        height: 10px;
                        background-color: #000;
                        position: absolute;
                        right: 0;
                        top: 38%;
                    }
                }
            }
            .infoBtm{                
                color: #a0a0a0;
            }
        }
        .ftrRight{
            display: flex;
            justify-content: space-between;
            margin-top: #{'min(1rem,40px)'};
            font-weight: 700;
            width: calc(100% / 12 * 4);
            font-size: #{'min(1.2em,12px)'};
            line-height: #{'min(2rem,80px)'};
            h4:nth-child(1){
                color: #71ad2c;
            }
            .logo{
                background-image: url('./images/logo_cj.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                height: #{'min(2rem,80px)'};
                width: calc(100% / 4 * 2 - 20px);
            }
        }
    }
}