@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@mixin bg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin grid($dev){
    @if($dev == 'tablet'){
        width: 90%;
        max-width: 700px;
    }@else if($dev == 'mobile'){
        width: 90%;
        max-width: 440px;
    }@else{
        width: 80%;
        max-width: 1080px;
        margin: 0 auto;
    }
}

@mixin tab{
    @media (max-width: 1024px) and (min-width: 0px){
        @content;
    }
}
@mixin mob{
    @media (max-width: 420px) and (min-width: 0px){
        @content;
    }
}

html{
    font-size: 3vw;
    body{
        font-size: 0.7vw;
        overflow-x: hidden;
        width: 100vw;
    }
}

// header
.hdrWrap{
    header{
        @include tab(){
            @include grid('tablet');
        }
        @include mob(){
            @include grid('mobile');
        };
        @include grid('pc');
        display: flex;
        justify-content: space-between;
        font-family: 'Gowun Batang', serif;
        align-items: center;        
        .hdrLeft{
            width: calc(100% / 12 * 8);
            display: flex;
            justify-content: space-between;
            .logo{
                background-image: url('./images/logo.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                width: calc(100% / 7 * 1.2);
                min-width: 120px;
                height: 80px;
                cursor: pointer;
                color: rgba(0,0,0,0);
                @include mob(){
                    width: calc(100% / 4 * 1.5);
                };
                a{
                    display: block;
                    height: 100%;                    
                }
            }
            .nav{
                display: flex;
                justify-content: space-between;
                width: calc(100% / 7 * 4.5);
                line-height: 80px;
                font-weight: 700;
                font-size: 18px;
                @include tab(){
                    display: none;
                };
                @include mob(){
                    display: none;
                };
                li{
                    a{
                        cursor: pointer;
                    }
                }
            }
            .nav.active{
                display: block;
                width: 100%;
                background-color: #efefef;
            }
            .nav.active li:hover{
                background-color: #71ad2c;
                color: #fff;
                transition: all .5s;
            }
        }
        .hdrLeft.active{
            flex-direction: column;
            text-align: center;
            width: 100%;
            .logo{
                width: 120px;
            }
        }
        .hdrRight{
            width: calc(100% / 12 * 2.55);            
            .tab{
                display: flex;
                justify-content: space-between;
                font-size: 14px;
                font-weight: 700;              
                li{
                    border: 2px solid #ccc;
                    border-radius: 25px;
                    padding: #{'min(1em,10px)'};
                    cursor: pointer;
                }
                li:nth-child(1){
                    @include tab(){
                        display: none;
                    };
                }
                li:nth-child(2){
                    background-color: #bed500;
                    border: 2px solid #bed500;
                    color: #fff;
                    @include tab(){
                        display: none;
                    };
                }
                li:nth-child(3){
                    width: 20px;
                    height: 3px;
                    background-color: #71ad2c;
                    border-radius: 0;
                    border: none;
                    padding: 0;
                    position: absolute;
                    top: 40px;
                    right: 10%;
                    display: none;
                    border-radius: #{'min(0.2em,2px)'};
                    @include tab(){
                        display: block;
                        margin-left: 70%;
                    };
                    @include mob(){
                        display: block;
                        margin-left: 70%;
                        width: 20px;
                        height: 3px;
                    };
                    &::after{
                        content: '';
                        display: block;
                        width: 20px;
                        height: 3px;
                        background-color: #71ad2c;
                        margin-top: 6px;
                        border-radius: #{'min(0.2em,2px)'};
                        @include mob(){
                            width: 20px;
                            height: 3px;
                        };
                        transition: all .5s;
                    }
                    &::before{
                        content: '';
                        display: block;
                        width: 20px;
                        height: 3px;
                        background-color: #71ad2c;
                        position: absolute;                        
                        bottom: 6px;
                        border-radius: #{'min(0.2em,2px)'};
                        @include mob(){
                            width: 20px;
                            height: 3px;
                        };
                        transition: all .5s;
                    }
                }
                
                li:nth-child(1).active{
                    display: block;
                    font-size: 18px;
                    border-radius: 0;
                    border: none;
                    line-height: 80px;
                    padding: 0;
                    position: relative;
                    background-color: #efefef;
                }
                li:nth-child(2).active{
                    display: block;
                    color: #000;
                    font-size: 18px;
                    border: none;
                    border-radius: 0;
                    line-height: 80px;
                    padding: 0;
                    position: relative;
                    background-color: #efefef;
                    margin-bottom: 40px;
                }
                li:nth-child(1).active:hover{
                    background-color: #71ad2c;
                    transition: all .5s;
                    color: #fff;
                }
                li:nth-child(2).active:hover{
                    background-color: #71ad2c;
                    transition: all .5s;
                    color: #fff;
                }
                li.active{
                    position: absolute;
                    background-color: #fff;
                }
                .active::after{
                    transform: rotate(40deg);
                    position: absolute;
                    bottom: 0;
                    left: 0;                  
                }
                .active::before{
                    transform: rotate(140deg);
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
            .tab.active{
                flex-direction: column;
                justify-content: start;
                height: 160px;
                text-align: center;
            }
        }
        .hdrRight.active{
            width: 100%;
            height: 160px;
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
        }
    }
    header.active{
        display: flex;
        flex-direction: column;
    }
}

// content
.cntWrap{
    .content{
        @include grid('pc');
        @include tab(){
            @include grid('tablet');
        }
    }
    // content1
    .cnt1{
        margin: 0;
        header{}
        section{
            .artView{
                position: relative;
                height: #{'min(86em,860px)'};
                width: 100vw;
                overflow: hidden;
                @include mob(){
                    height: 400px;
                };
                .artGroup{
                    width: 600%;
                    display: flex;
                    justify-content: space-between;
                    article{
                        width: calc(100% / 6);
                        position: relative;
                        .image{
                            @include mob(){
                                height: 400px;
                            };
                            height: #{'min(86em,860px)'};
                            width: 100vw;
                            @include bg();
                            @for $i from 1 through 6{
                                &.i#{$i}{
                                    background-image: url('./images/product/main_pic#{$i}.jpg');
                                }
                            }
                            .i7{
                                background-image: url('./images/product/main_pic1.jpg');
                            }
                        }
                        .texts{
                            position: absolute;
                            top: #{'min(8rem,320px)'};
                            left: 0;
                            right: 0;
                            margin: auto;
                            text-align: center;
                            font-family: 'Noto Sans KR', serif;
                            color: #ffffff;
                            font-weight: 700;
                            h3{
                                font-size: #{'min(6em,60px)'};
                                line-height: #{'min(2rem,80px)'};
                                @include mob(){
                                    font-size: 24px;
                                    line-height: 40px;
                                };
                            }
                            p{
                                margin-top: #{'min(2rem,80px)'};
                                font-size: #{'min(1.8em,18px)'};
                                line-height: #{'min(1rem,40px)'};
                                @include mob(){
                                    font-size: 12px;
                                    line-height: 20px;
                                    width: 80%;
                                    margin: 0 auto;
                                    font-weight: normal;
                                    margin-top: 60px;
                                };
                            }
                        }
                    }
                }
                .paging{
                    width: calc(100% / 12);
                    display: flex;
                    justify-content: space-between;
                    position: absolute;
                    left:0;
                    right: 0;
                    bottom: #{'min(1rem,40px)'};
                    margin: auto;
                    @include mob(){
                        width: 200px;
                    };
                    li{
                        width: #{'min(0.5em,5px)'};
                        height: #{'min(0.5em,5px)'};
                        border-radius: #{'min(1em,10px)'};
                        background-color: rgba(223,223,223,0.6);
                        transition: all .3s;
                        cursor: pointer;
                        @include mob(){
                            width: 30px;
                            height: 2px;
                        };
                    }
                    .show{
                        width: #{'min(2em,20px)'};
                        background-color: #ffffff;
                        @include mob(){
                            width: 30px;
                        };
                    }
                }
            }
            .textView{
                position: absolute;
                .textGroup{
                    display: flex;
                    justify-content: space-between;
                    width: 600%;
                    article{
                        width: calc(100% / 6);
                    }
                }
            }
        }
    }
    // content2
    .cnt2{
        margin-top: #{'min(2rem,80px)'};
        @include mob(){
            margin-top: 60px;
        };
        header{
            display: flex;
            justify-content: space-between;
            h2{
                font-family: 'Noto Sans KR', serif;
                font-size: #{'min(3.6em,36px)'};
                line-height: #{'min(2rem,80px)'};
                font-weight: 700;
                @include mob(){
                    font-size: 24px;
                };
            }
        }
        section{
            .artView{
                position: relative;
                overflow: hidden;
                @include mob(){
                    margin-top: 20px;
                };
                i{
                    width: #{'min(6em,60px)'};
                    height: #{'min(6em,60px)'};
                    border-radius: 50%;
                    border: 1px solid #efefef;
                    text-align: center;
                    line-height: #{'min(6em,60px)'};
                    font-size: #{'min(2.5em,25px)'};
                    background-color: #fff;
                    color: #4c4c4c;
                    position: absolute;
                    right: #{'min(-0.7em,-7px)'};
                    top: 0%;
                    bottom: 0%;
                    margin: auto;
                    cursor: pointer;
                    @include mob(){
                        display: none;
                    };
                }
                .artGroup{
                    display: flex;
                    justify-content: space-between;
                    width: 300%;
                    @include tab(){
                        width: 400%;
                    };
                    @include mob(){
                        width: 1200%;
                    };
                    article{
                        width: calc(100% / 12 - 20px);
                        cursor: pointer;
                        .image{
                            @include tab(){
                                height: 200px;
                            };
                            @include mob(){
                                height: 200px;
                            };
                            @include bg();
                            width: 100%;
                            height: #{'min(25em,250px)'};
                            @for $i from 1 through 11{
                                &.i#{$i}{
                                    background-image: url('./images/product/cnt2_pic#{$i}.jpg');
                                }
                            }
                        }
                        .texts{
                            font-family: 'Noto Sans KR', serif;
                            color: #333333;
                            font-size: #{'min(1.6em,16px)'};
                            @include tab(){
                                font-size: 15px;
                            };
                            h3{
                                margin-top: #{'min(1.6em,16px)'};
                                @include tab(){
                                    margin-top: 7px;
                                };
                            }
                            h5{
                                font-weight: 700;
                            }
                        }
                        &:nth-child(12){
                            @include mob(){
                                height: 250px;
                            };
                            height: #{'min(25em,250px)'};
                            position: relative;
                            cursor: auto;
                            i{
                                width: #{'min(6em,60px)'};
                                height: #{'min(6em,60px)'};
                                color: #71ad2c;
                                position: absolute;
                                right: 0;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                margin: auto;
                                @include mob(){
                                    display: block;
                                };
                                a{
                                    display: block;
                                    height: 100%;
                                    margin-top: -100%;
                                    position: relative;
                                    z-index: 10;
                                }
                            }
                            h4{
                                font-size: #{'min(1.6em,16px)'};
                                color: #333333;
                                font-family: 'Noto Sans KR', serif;
                                text-align: center;
                                position: absolute;
                                top: #{'min(11em,110px)'};
                                right: 0;
                                left: 0;
                                bottom: 0;
                                margin: auto;
                                height: #{'min(2em,20px)'};
                                @include mob(){
                                    font-size: 14px;
                                    line-height: 10px;
                                    top: 90px;
                                };
                            }
                        }
                    }
                }
            }
        }
    }
    // content3
    .cnt3{
        @include mob(){
            margin-top: 60px;
        };
        margin-top: #{'min(1rem,40px)'};
        font-family: 'Noto Sans KR', serif;        
        .btn{
            width: calc(100% / 12 * 4);
            line-height: #{'min(2rem,80px)'};
            color: #575757;
            font-size: #{'min(1.6em,16px)'};
            text-align: center;
            outline: 1px solid #a4a4a4;
            height: #{'min(2rem,80px)'};
            margin: 0 auto;
            margin-top: #{'min(1rem,40px)'};
            cursor: pointer;
            @include tab(){
                line-height: 60px;
                font-size: 14px;
                height: 60px;
            };
        }
        header{
            h2{
                font-size: #{'min(3.6em,36px)'};
                line-height: #{'min(2rem,80px)'};
                font-weight: 700;
                @include mob(){
                    font-size: 24px;
                    line-height: 40px;
                };
            }
            &::after{
                width: 100%;
                content: '';
                display: block;
                height: #{'min(0.05em,0.5px)'};
                background-color: #a4a4a4;
            }
        }
        section{
            margin-top: #{'min(1rem,40px)'};
            @include tab(){
                margin-top: 0;
            };
            &::after{
                content: '';
                display: block;
                clear: both;
            }            
            .artLeft{
                float: left;
                width: calc(100% / 12 * 6 - 20px);
                margin: 0 10px;
                @include tab(){
                    display: none;
                };
                article{
                    position: relative;
                    .image{
                        height: #{'min(20rem,800px)'};
                        @include bg();
                        background-image: url('./images/product/cnt3_artLeft_pic1.jpg');
                    }
                    .texts{
                        width: calc(100% / 6 * 4.5);
                        background-color: rgba(255,255,255,0.8);
                        position: absolute;
                        right: #{'min(2em,20px)'};
                        bottom: #{'min(1rem,40px)'};
                        padding-left: #{'min(2em,20px)'};
                        h4{
                            font-size: #{'min(1.5em,15px)'};
                            line-height: #{'min(1rem,40px)'};
                            color: #555555;
                        }
                        h3{
                            font-size: #{'min(1.5em,15px)'};
                            line-height: #{'min(1rem,40px)'};
                            color: #000;
                        }
                        .info{
                            display: flex;
                            justify-content: start;
                            width: calc(100% / 4.5 * 2.1);
                            line-height: #{"min(1rem,40px)"};
                            position: relative;
                            i{
                                line-height: #{'min(1rem,40px)'};
                                color: #bed500;
                                font-size: #{'min(2em,20px)'};
                            }
                            h4{
                                font-size: #{'min(1.5em,15px)'};
                                color: #000;
                                &:nth-child(3){
                                    padding-left: calc(100% / 4.5 * 0.7);
                                }
                            }
                        }
                    }
                }
            }
            .artRight{
                width: calc(100% / 12 * 6 - 20px);
                float: left;
                margin: 0 10px;
                @include tab(){
                    width: 100%;
                    margin: 0;
                };
                &::after{
                    display: block;
                    clear: both;
                    content: '';
                }                
                article{
                    width: calc(100% / 2 - 20px);
                    margin: 0 10px;
                    float: left;
                    @include mob(){
                        width: 100%;
                        margin: 0;
                    };
                    .image{
                        @include bg();
                        height: #{'min(7rem,280px)'};
                        @for $i from 1 through 4{
                            &.i#{$i}{
                                background-image: url('./images/product/cnt3_artRight_pic#{$i}.jpg');
                            }
                        }
                        @include tab(){
                            height: 220px;
                            margin-top: #{'min(1rem,40px)'};
                        };
                    }
                    .texts{
                        line-height: #{'min(1rem,40px)'};
                        h4{
                            font-size: #{'min(1.5em,15px)'};
                            color: #555555;
                            @include tab(){
                                font-size: 15px;
                                line-height: 20px;
                            };
                        }
                        h3{
                            font-size: #{'min(1.5em,15px)'};
                            @include tab(){
                                font-size: 15px;
                                line-height: 20px;
                            };
                        }
                        .info{
                            display: flex;
                            justify-content: start;
                            width: calc(100% / 3 * 2.2);
                            line-height: #{"min(1rem,40px)"};
                            position: relative;
                            @include tab(){
                                line-height: 40px;
                            };
                            i{
                                line-height: #{'min(1rem,40px)'};
                                color: #bed500;
                                font-size: #{'min(2em,20px)'};
                                @include tab(){
                                    font-size: 20px;
                                    line-height: 40px;
                                };
                            }
                            h4{
                                font-size: #{'min(1.5em,15px)'};
                                color: #000;
                                white-space: nowrap;
                                @include tab(){
                                    font-size: 15px;   
                                    line-height: 40px;                                 
                                };
                                &:nth-child(3){
                                    padding-left: calc(100% / 3 * 0.4);
                                }
                            }
                        }
                    }
                }
            }
            .artBtm{
                margin-top: #{'min(1rem,40px)'};
                float: left;
                height: 0;
                overflow: hidden;
                @include tab(){
                    margin-top: 0;
                };
                &::after{
                    display: block;
                    clear: both;
                    content: '';
                }
                article{
                    width: calc(100% / 4 - 20px);
                    float: left;
                    margin: 0 10px;
                    @include tab(){
                        width: calc(100% / 2 - 20px);
                        margin-top: 20px;
                    };
                    @include mob(){
                        width: 100%;
                    }
                    .image{
                        @include bg();
                        height: #{'min(7rem,280px)'};
                        @for $i from 1 through 8{
                            &.i#{$i}{
                                background-image: url('./images/product/cnt3_artBtm_pic#{$i}.jpg');
                            }
                        }
                        @include tab(){
                            height: 220px;
                        };
                    }
                    .texts{
                        line-height: #{'min(1rem,40px)'};
                        @include tab(){
                            font-size: 40px;
                        };
                        h4{
                            font-size: #{'min(1.5em,15px)'};
                            color: #555555;
                            @include tab(){
                                font-size: 15px;
                                line-height: 20px;
                            };
                        }
                        h3{
                            font-size: #{'min(1.5em,15px)'};
                            @include tab(){
                                font-size: 15px;
                                line-height: 20px;
                            };
                        }
                        .info{
                            display: flex;
                            justify-content: start;
                            width: calc(100% / 3 * 2.2);
                            line-height: #{"min(1rem,40px)"};
                            position: relative;
                            @include tab(){
                                line-height: 40px;
                            };
                            i{
                                line-height: #{'min(1rem,40px)'};
                                color: #bed500;
                                font-size: #{'min(2em,20px)'};
                                @include tab(){
                                    font-size: 20px;
                                    line-height: 40px;
                                };
                            }
                            h4{
                                font-size: #{'min(1.5em,15px)'};
                                color: #000;
                                white-space: nowrap;
                                &:nth-child(3){
                                    padding-left: calc(100% / 3 * 0.4);
                                }
                                @include tab(){
                                    font-size: 15px;
                                    line-height: 40px;
                                };
                            }                            
                        }
                    }
                }
                
            }
        }
    }
}

// footer
.ftrWrap{
    margin-top: #{'min(2rem,80px)'};
    @include mob(){
        margin-top: 40px;
    }
    .gnbWrap{
        background-color: #09351b;
        .gnb{
            @include grid('pc');
            @include tab(){
                @include grid('tablet');
            }
            @include mob(){
                @include grid('mobile');
            }
            line-height: #{'min(3rem,120px)'};
            color: #fff;
            display: flex;
            justify-content: space-between;
            position: relative;
            .topBtn{
                width: #{'min(2rem,80px)'};
                height: #{'min(2rem,80px)'};
                text-align: center;
                line-height: #{'min(2rem,80px)'};
                font-size: #{'min(1.6em,16px)'};
                font-family: 'Gowun Batang', serif;
                font-weight: 700;
                background-color: #71ad2c;
                position: absolute;
                left: 0;
                right: 0;
                top: -30%;
                margin: auto;
                border-radius: 50%;
                cursor: pointer;
                @include mob(){
                    display: none;
                }
            }
            .tabLeft{
                display: flex;
                justify-content: space-between;
                width: calc(100% / 12 * 5.2);
                font-family: 'Gowun Batang', serif;
                font-size: #{'min(2em,20px)'};
                font-weight: 700;
                @include mob(){
                    width: calc(100% / 4 * 3);
                    font-size: 14px;
                    line-height: 80px;
                }
            }
            .tabRight{
                width: calc(100% / 12 * 2);
                display: flex;
                justify-content: space-between;
                font-size: #{'min(3.5em,35px)'};
                @include mob(){
                    display: none;
                }
                li{
                    i{
                        height: #{'min(3.5em,35px)'};
                        position: relative;
                        a{
                            display: block;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                    }
                }
            }
        }
    }
    footer{
        @include tab(){
            display: block
        };
        @include grid('pc');
        @include tab(){
            @include grid('tablet');
        }
        @include mob(){
            @include grid('mobile');
        }
        display: flex;
        justify-content: space-between;
        font-family: 'Noto Sans KR', sans-serif;
        padding-bottom: #{'min(2rem,80px)'};
        .ftrLeft{
            @include tab(){
                width: calc(100% / 12 * 8);
            };
            @include mob(){
                font-size: 12px;
                width: 100%;
            };
            margin-top: #{'min(1rem,40px)'};
            width: calc(100% / 12 * 6);
            font-size: #{'min(1.2em,12px)'};
            line-height: #{'min(1rem,40px)'};
            .infoTop{
                @include mob(){
                    margin-top: 40px;
                    width: 100%;
                    display: block;
                    line-height: 20px;
                    height: 40px;
                };
                display: flex;
                justify-content: start;
                width: calc(100% / 6 * 5);
                li:nth-child(2){
                    @include mob(){
                        margin-left: 0;
                    };
                    margin-left: #{'min(2em,20px)'};
                }
                li{
                    @include mob(){
                        white-space: unset;
                    };
                    position: relative;
                    padding: 0 7px 0 0;
                    white-space: nowrap;
                }
            }
            .infoMid{
                @include mob(){
                    line-height: 40px;
                };
            }
            .infoBtm{                
                color: #a0a0a0;
            }
        }
        .ftrRight{
            @include tab(){
                margin-top: 0;
                width: calc(100% / 12 * 6);
            };
            @include mob(){
                line-height: 40px;
                font-size: 12px;
                width: 100%;
            };
            display: flex;
            justify-content: space-between;
            margin-top: #{'min(1rem,40px)'};
            font-weight: 700;
            width: calc(100% / 12 * 4);
            font-size: #{'min(1.2em,12px)'};
            line-height: #{'min(2rem,80px)'};
            h4:nth-child(1){
                color: #71ad2c;
            }
            .logo{
                background-image: url('./images/logo_cj.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                height: #{'min(2rem,80px)'};
                width: calc(100% / 4 * 2 - 20px);
                @include mob(){
                    display: block;
                    height: 45px;
                };
            }
        }
    }
}