@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
html {
  font-size: 3vw;
}

html body {
  font-size: 0.7vw;
  overflow-x: hidden;
  font-family: 'Gowun Batang', serif;
  font-weight: 700;
}

.hdrWrap header {
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Gowun Batang', serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) and (min-width: 0px) {
  .hdrWrap header {
    width: 90%;
    max-width: 700px;
  }
}

@media (max-width: 420px) and (min-width: 0px) {
  .hdrWrap header {
    width: 90%;
    max-width: 440px;
  }
}

.hdrWrap header .hdrLeft {
  width: calc(100% / 12 * 8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hdrWrap header .hdrLeft .logo {
  background-image: url("./images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: calc(100% / 7 * 1.2);
  min-width: 120px;
  height: 80px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0);
}

@media (max-width: 420px) and (min-width: 0px) {
  .hdrWrap header .hdrLeft .logo {
    width: calc(100% / 4 * 1.5);
  }
}

.hdrWrap header .hdrLeft .logo a {
  display: block;
  height: 100%;
}

.hdrWrap header .hdrLeft .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% / 7 * 4.5);
  line-height: 80px;
  font-weight: 700;
  font-size: 18px;
}

@media (max-width: 1024px) and (min-width: 0px) {
  .hdrWrap header .hdrLeft .nav {
    display: none;
  }
}

@media (max-width: 420px) and (min-width: 0px) {
  .hdrWrap header .hdrLeft .nav {
    display: none;
  }
}

.hdrWrap header .hdrLeft .nav li a {
  cursor: pointer;
}

.hdrWrap header .hdrLeft .nav.active {
  display: block;
  width: 100%;
  background-color: #efefef;
}

.hdrWrap header .hdrLeft .nav.active li:hover {
  background-color: #71ad2c;
  color: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.hdrWrap header .hdrLeft.active {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 100%;
}

.hdrWrap header .hdrLeft.active .logo {
  width: 120px;
}

.hdrWrap header .hdrRight {
  width: calc(100% / 12 * 2.55);
}

.hdrWrap header .hdrRight .tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
}

.hdrWrap header .hdrRight .tab li {
  border: 2px solid #ccc;
  border-radius: 25px;
  padding: min(1em,10px);
  cursor: pointer;
}

@media (max-width: 1024px) and (min-width: 0px) {
  .hdrWrap header .hdrRight .tab li:nth-child(1) {
    display: none;
  }
}

.hdrWrap header .hdrRight .tab li:nth-child(2) {
  background-color: #bed500;
  border: 2px solid #bed500;
  color: #fff;
}

@media (max-width: 1024px) and (min-width: 0px) {
  .hdrWrap header .hdrRight .tab li:nth-child(2) {
    display: none;
  }
}

.hdrWrap header .hdrRight .tab li:nth-child(3) {
  width: 20px;
  height: 3px;
  background-color: #71ad2c;
  border-radius: 0;
  border: none;
  padding: 0;
  position: absolute;
  top: 40px;
  right: 10%;
  display: none;
  border-radius: min(0.2em,2px);
}

@media (max-width: 1024px) and (min-width: 0px) {
  .hdrWrap header .hdrRight .tab li:nth-child(3) {
    display: block;
    margin-left: 70%;
  }
}

@media (max-width: 420px) and (min-width: 0px) {
  .hdrWrap header .hdrRight .tab li:nth-child(3) {
    display: block;
    margin-left: 70%;
    width: 20px;
    height: 3px;
  }
}

.hdrWrap header .hdrRight .tab li:nth-child(3)::after {
  content: '';
  display: block;
  width: 20px;
  height: 3px;
  background-color: #71ad2c;
  margin-top: 6px;
  border-radius: min(0.2em,2px);
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media (max-width: 420px) and (min-width: 0px) {
  .hdrWrap header .hdrRight .tab li:nth-child(3)::after {
    width: 20px;
    height: 3px;
  }
}

.hdrWrap header .hdrRight .tab li:nth-child(3)::before {
  content: '';
  display: block;
  width: 20px;
  height: 3px;
  background-color: #71ad2c;
  position: absolute;
  bottom: 6px;
  border-radius: min(0.2em,2px);
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media (max-width: 420px) and (min-width: 0px) {
  .hdrWrap header .hdrRight .tab li:nth-child(3)::before {
    width: 20px;
    height: 3px;
  }
}

.hdrWrap header .hdrRight .tab li:nth-child(1).active {
  display: block;
  font-size: 18px;
  border-radius: 0;
  border: none;
  line-height: 80px;
  padding: 0;
  position: relative;
  background-color: #efefef;
}

.hdrWrap header .hdrRight .tab li:nth-child(2).active {
  display: block;
  color: #000;
  font-size: 18px;
  border: none;
  border-radius: 0;
  line-height: 80px;
  padding: 0;
  position: relative;
  background-color: #efefef;
  margin-bottom: 40px;
}

.hdrWrap header .hdrRight .tab li:nth-child(1).active:hover {
  background-color: #71ad2c;
  -webkit-transition: all .5s;
  transition: all .5s;
  color: #fff;
}

.hdrWrap header .hdrRight .tab li:nth-child(2).active:hover {
  background-color: #71ad2c;
  -webkit-transition: all .5s;
  transition: all .5s;
  color: #fff;
}

.hdrWrap header .hdrRight .tab li.active {
  position: absolute;
  background-color: #fff;
}

.hdrWrap header .hdrRight .tab .active::after {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  position: absolute;
  bottom: 0;
  left: 0;
}

.hdrWrap header .hdrRight .tab .active::before {
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
  position: absolute;
  left: 0;
  top: 0;
}

.hdrWrap header .hdrRight .tab.active {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  height: 160px;
  text-align: center;
}

.hdrWrap header .hdrRight.active {
  width: 100%;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.hdrWrap header.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainWrap {
  width: 100vw;
  overflow: hidden;
}

@media (max-width: 420px) and (min-width: 0px) {
  .mainWrap {
    position: relative;
  }
}

.mainWrap main {
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) and (min-width: 0px) {
  .mainWrap main {
    width: 90%;
    max-width: 700px;
  }
}

@media (max-width: 420px) and (min-width: 0px) {
  .mainWrap main {
    display: block;
    height: 300px;
  }
}

.mainWrap main .mainLeft {
  width: calc(100% / 12 * 5);
  padding: min(3rem,120px) 0 min(4rem,160px);
}

@media (max-width: 420px) and (min-width: 0px) {
  .mainWrap main .mainLeft {
    width: 100%;
    text-align: center;
    z-index: 5;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.mainWrap main .mainLeft h5 {
  font-size: min(1.6em,16px);
  line-height: min(1rem,40px);
}

@media (max-width: 420px) and (min-width: 0px) {
  .mainWrap main .mainLeft h5 {
    font-size: 16px;
    line-height: 40px;
  }
}

.mainWrap main .mainLeft .image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("./images/the_bibigo/logo_thebibigo.png");
  height: min(8rem,320px);
  width: calc(100% / 5 * 3);
}

@media (max-width: 420px) and (min-width: 0px) {
  .mainWrap main .mainLeft .image {
    margin: 0 auto;
  }
}

.mainWrap main .mainLeft p {
  font-size: min(2em,20px);
  margin-top: min(1rem,40px);
  color: #2b2b2b;
}

@media (max-width: 420px) and (min-width: 0px) {
  .mainWrap main .mainLeft p {
    font-size: 14px;
    line-height: 20px;
  }
}

.mainWrap main .mainRight {
  width: calc(100% / 12 * 7);
  padding: min(2rem,80px) 0;
  background-color: #e2ddd7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media (max-width: 420px) and (min-width: 0px) {
  .mainWrap main .mainRight {
    width: 100vw;
    position: absolute;
    padding: 0;
    top: 0;
    left: 0;
    z-index: 4;
  }
}

.mainWrap main .mainRight .image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./images/the_bibigo/thebibigo_main1.jpg");
  height: min(60em,600px);
  width: calc(100% / 7 * 6);
  margin-left: calc(100% / 7);
  position: absolute;
  z-index: 5;
}

@media (max-width: 420px) and (min-width: 0px) {
  .mainWrap main .mainRight .image {
    margin-left: 0;
    width: 100%;
    height: 300px;
  }
}

.mainWrap main .mainRight .overGrid {
  width: 200%;
  height: 100%;
  padding: min(2rem,80px) 0;
  background-color: #e2ddd7;
  position: absolute;
  left: 99%;
  top: 0;
  z-index: 1;
}

@media (max-width: 420px) and (min-width: 0px) {
  .mainWrap main .mainRight .overGrid {
    display: none;
  }
}

.cntWrap .content {
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
}

@media (max-width: 1024px) and (min-width: 0px) {
  .cntWrap .content {
    width: 90%;
    max-width: 700px;
  }
}

@media (max-width: 420px) and (min-width: 0px) {
  .cntWrap .content {
    width: 90%;
    max-width: 440px;
  }
}

.cntWrap.cntWrap1 {
  padding: min(2rem,80px) 0 0;
  background-color: #faf5ef;
  width: 100vw;
  overflow: hidden;
}

@media (max-width: 420px) and (min-width: 0px) {
  .cntWrap.cntWrap1 {
    padding: 40px 0;
  }
}

.cntWrap.cntWrap1 .cnt1 header h2 {
  font-size: min(2.4em,24px);
  color: #09351b;
}

@media (max-width: 420px) and (min-width: 0px) {
  .cntWrap.cntWrap1 .cnt1 header h2 {
    font-size: 24px;
    line-height: 40px;
    font-weight: 700;
  }
}

.cntWrap.cntWrap1 .cnt1 header p {
  font-size: min(1.4em,14px);
  line-height: min(2em,20px);
  color: #5f5f5f;
  margin-top: min(2em,20px);
}

@media (max-width: 420px) and (min-width: 0px) {
  .cntWrap.cntWrap1 .cnt1 header p {
    font-size: 14px;
    line-height: 20px;
    margin-top: 0;
  }
}

.cntWrap.cntWrap1 .cnt1 section article .image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./images/the_bibigo/thebibigo_main4.jpg");
  width: calc(100% / 12 * 4.8);
  height: min(8rem,320px);
  margin: 0 auto;
  margin-top: min(1rem,40px);
}

@media (max-width: 420px) and (min-width: 0px) {
  .cntWrap.cntWrap1 .cnt1 section article .image {
    height: 200px;
    width: 276px;
    margin-top: 40px;
  }
}

.cntWrap.cntWrap1 .cnt1 section article .texts {
  margin-top: min(2rem,80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 420px) and (min-width: 0px) {
  .cntWrap.cntWrap1 .cnt1 section article .texts {
    display: block;
    margin-top: 20px;
  }
}

.cntWrap.cntWrap1 .cnt1 section article .texts .text {
  width: min(20em,200px);
  height: min(20em,200px);
  border-radius: 50%;
  background-color: #e2d5c2;
  color: #09351b;
  text-align: center;
  line-height: min(2em,20px);
  position: relative;
}

@media (max-width: 420px) and (min-width: 0px) {
  .cntWrap.cntWrap1 .cnt1 section article .texts .text {
    width: 100%;
    background-color: unset;
    height: 80px;
    text-align: left;
  }
}

.cntWrap.cntWrap1 .cnt1 section article .texts .text h4 {
  font-size: min(2.4em,24px);
  margin-top: min(-1.5em,-15px);
}

@media (max-width: 420px) and (min-width: 0px) {
  .cntWrap.cntWrap1 .cnt1 section article .texts .text h4 {
    margin-top: 0;
    line-height: 40px;
    font-size: 15px;
    font-weight: 700;
    margin-left: 18px;
  }
}

.cntWrap.cntWrap1 .cnt1 section article .texts .text h3 {
  font-size: min(1.8em,18px);
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@media (max-width: 420px) and (min-width: 0px) {
  .cntWrap.cntWrap1 .cnt1 section article .texts .text h3 {
    position: unset;
    line-height: 40px;
    font-size: 14px;
    font-weight: 700;
    padding-left: 18px;
    width: 100%;
    background-color: #e2d5c2;
    border-radius: 10px;
  }
}

@media (max-width: 420px) and (min-width: 0px) {
  .cntWrap.cntWrap1 .cnt1 section article .texts .text h3 br {
    display: none;
  }
}

.cntWrap.cntWrap1 .cnt1 section article .texts .text h5 {
  font-size: min(1.3em,13px);
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@media (max-width: 1024px) and (min-width: 0px) {
  .cntWrap.cntWrap1 .cnt1 section article .texts .text h5 {
    display: none;
  }
}

.cntWrap2 {
  margin-top: min(3rem,120px);
}

@media (max-width: 420px) and (min-width: 0px) {
  .cntWrap2 {
    margin-top: 40px;
  }
}

@media (max-width: 420px) and (min-width: 0px) {
  .cntWrap2 .cnt2 header {
    overflow: hidden;
  }
}

.cntWrap2 .cnt2 header .tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 420px) and (min-width: 0px) {
  .cntWrap2 .cnt2 header .tab {
    width: 280%;
    margin-top: 1px;
    margin-left: 1px;
    -webkit-transition: all .5s;
    transition: all .5s;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.cntWrap2 .cnt2 header .tab li {
  width: calc(100% / 3 - 20px);
  text-align: center;
  line-height: min(2rem,80px);
  outline: 1px solid #999999;
  font-size: min(1.8em,18px);
  color: #999999;
  cursor: pointer;
}

@media (max-width: 420px) and (min-width: 0px) {
  .cntWrap2 .cnt2 header .tab li {
    width: calc(100% / 3 - 10px);
    height: 60px;
    line-height: 62px;
    font-size: 16px;
  }
}

.cntWrap2 .cnt2 header .tab .now {
  background-color: #0f411a;
  color: #fff;
}

.cntWrap2 .cnt2 header .texts {
  width: calc(100% / 12 * 9);
  margin: 0 auto;
  margin-top: min(2rem,80px);
  font-size: min(2em,20px);
  letter-spacing: min(-0.025em,-0.0025px);
  line-height: min(3em,30px);
  height: min(6em,60px);
  overflow: hidden;
}

@media (max-width: 420px) and (min-width: 0px) {
  .cntWrap2 .cnt2 header .texts {
    font-size: 12px;
    width: 100%;
    line-height: 20px;
    letter-spacing: -0.025;
  }
}

.cntWrap2 .cnt2 section {
  margin-top: min(3rem,120px);
  position: relative;
}

.cntWrap2 .cnt2 section .artView {
  height: min(40em,400px);
  position: relative;
  overflow: hidden;
}

@media (max-width: 420px) and (min-width: 0px) {
  .cntWrap2 .cnt2 section .artView {
    height: 300px;
  }
}

.cntWrap2 .cnt2 section .artView .artGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 8;
}

.cntWrap2 .cnt2 section .artView .artGroup:nth-child(1) {
  width: 200%;
}

@media (max-width: 420px) and (min-width: 0px) {
  .cntWrap2 .cnt2 section .artView .artGroup:nth-child(1) {
    width: 330%;
  }
}

.cntWrap2 .cnt2 section .artView .artGroup:nth-child(1) article {
  width: calc(100% / 6);
}

.cntWrap2 .cnt2 section .artView .artGroup:nth-child(1) article:nth-child(3) {
  -webkit-transform: scale(1.15) translateY(min(4em,40px));
          transform: scale(1.15) translateY(min(4em,40px));
}

@media (max-width: 420px) and (min-width: 0px) {
  .cntWrap2 .cnt2 section .artView .artGroup:nth-child(1) article:nth-child(3) {
    -webkit-transform: none;
            transform: none;
  }
  .cntWrap2 .cnt2 section .artView .artGroup:nth-child(1) article:nth-child(2) {
    -webkit-transform: scale(1.15) translateY(min(4em,40px));
            transform: scale(1.15) translateY(min(4em,40px));
  }
}

.cntWrap2 .cnt2 section .artView .artGroup:nth-child(2) {
  display: none;
  width: 166.30%;
}

@media (max-width: 420px) and (min-width: 0px) {
  .cntWrap2 .cnt2 section .artView .artGroup:nth-child(2) {
    width: 280%;
  }
}

.cntWrap2 .cnt2 section .artView .artGroup:nth-child(2) article {
  width: calc(100% / 5);
}

.cntWrap2 .cnt2 section .artView .artGroup:nth-child(2) article:nth-child(3) {
  -webkit-transform: scale(1.15) translateY(min(4em,40px));
          transform: scale(1.15) translateY(min(4em,40px));
}

@media (max-width: 420px) and (min-width: 0px) {
  .cntWrap2 .cnt2 section .artView .artGroup:nth-child(2) article:nth-child(3) {
    -webkit-transform: none;
            transform: none;
  }
  .cntWrap2 .cnt2 section .artView .artGroup:nth-child(2) article:nth-child(2) {
    -webkit-transform: scale(1.15) translateY(min(4em,40px));
            transform: scale(1.15) translateY(min(4em,40px));
  }
}

.cntWrap2 .cnt2 section .artView .artGroup:nth-child(3) {
  display: none;
  width: 266%;
}

@media (max-width: 420px) and (min-width: 0px) {
  .cntWrap2 .cnt2 section .artView .artGroup:nth-child(3) {
    width: 445%;
  }
}

.cntWrap2 .cnt2 section .artView .artGroup:nth-child(3) article {
  width: calc(100% / 4);
}

.cntWrap2 .cnt2 section .artView .artGroup:nth-child(3) article:nth-child(3) {
  -webkit-transform: scale(1.15) translateY(min(4em,40px));
          transform: scale(1.15) translateY(min(4em,40px));
}

@media (max-width: 420px) and (min-width: 0px) {
  .cntWrap2 .cnt2 section .artView .artGroup:nth-child(3) article:nth-child(3) {
    -webkit-transform: none;
            transform: none;
  }
  .cntWrap2 .cnt2 section .artView .artGroup:nth-child(3) article:nth-child(2) {
    -webkit-transform: scale(1.15) translateY(min(4em,40px));
            transform: scale(1.15) translateY(min(4em,40px));
  }
}

.cntWrap2 .cnt2 section .artView .artGroup article {
  padding-top: min(1rem,40px);
}

.cntWrap2 .cnt2 section .artView .artGroup article .image {
  height: min(6rem,240px);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.cntWrap2 .cnt2 section .artView .artGroup article .image.i1 {
  background-image: url("./images/the_bibigo/cnt2_pic1.png");
}

.cntWrap2 .cnt2 section .artView .artGroup article .image.i2 {
  background-image: url("./images/the_bibigo/cnt2_pic2.png");
}

.cntWrap2 .cnt2 section .artView .artGroup article .image.i3 {
  background-image: url("./images/the_bibigo/cnt2_pic3.png");
}

.cntWrap2 .cnt2 section .artView .artGroup article .image.i4 {
  background-image: url("./images/the_bibigo/cnt2_pic4.png");
}

.cntWrap2 .cnt2 section .artView .artGroup article .image.i5 {
  background-image: url("./images/the_bibigo/cnt2_pic5.png");
}

.cntWrap2 .cnt2 section .artView .artGroup article .image.i6 {
  background-image: url("./images/the_bibigo/cnt2_pic6.png");
}

.cntWrap2 .cnt2 section .artView .artGroup article .image.i7 {
  background-image: url("./images/the_bibigo/cnt2_pic7.png");
}

.cntWrap2 .cnt2 section .artView .artGroup article .image.i8 {
  background-image: url("./images/the_bibigo/cnt2_pic8.png");
}

.cntWrap2 .cnt2 section .artView .artGroup article .image.i9 {
  background-image: url("./images/the_bibigo/cnt2_pic9.png");
}

.cntWrap2 .cnt2 section .artView .artGroup article .image.i10 {
  background-image: url("./images/the_bibigo/cnt2_pic10.png");
}

.cntWrap2 .cnt2 section .artView .artGroup article .image.i11 {
  background-image: url("./images/the_bibigo/cnt2_pic11.png");
}

.cntWrap2 .cnt2 section .artView .artGroup article .image.i12 {
  background-image: url("./images/the_bibigo/cnt2_pic12.png");
}

.cntWrap2 .cnt2 section .artView .artGroup article .image.i13 {
  background-image: url("./images/the_bibigo/cnt2_pic13.png");
}

.cntWrap2 .cnt2 section .artView .artGroup article .image.i14 {
  background-image: url("./images/the_bibigo/cnt2_pic14.png");
}

.cntWrap2 .cnt2 section .artView .artGroup article .image.i15 {
  background-image: url("./images/the_bibigo/cnt2_pic15.png");
}

@media (max-width: 420px) and (min-width: 0px) {
  .cntWrap2 .cnt2 section .artView .artGroup article .image {
    height: 200px;
  }
}

.cntWrap2 .cnt2 section .artView .artGroup article .texts {
  text-align: center;
  font-size: min(2em,20px);
  line-height: min(1rem,40px);
}

@media (max-width: 420px) and (min-width: 0px) {
  .cntWrap2 .cnt2 section .artView .artGroup article .texts {
    font-size: 16px;
  }
}

.cntWrap2 .cnt2 section .backgroundEffect {
  width: min(25em,250px);
  height: min(25em,250px);
  border-radius: 50%;
  background-color: #0f411a;
  position: absolute;
  top: 0;
  left: min(0.5em,5px);
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  -webkit-transition: all .15s;
  transition: all .15s;
  opacity: 0.85;
}

@media (max-width: 420px) and (min-width: 0px) {
  .cntWrap2 .cnt2 section .backgroundEffect {
    width: 170px;
    height: 170px;
  }
}

.cntWrap2 .cnt2 section .btn {
  width: calc(100% / 12 * 2);
  line-height: min(1rem,40px);
  margin: 0 auto;
  margin-top: min(1rem,40px);
  color: #fff;
  background-color: #0f411a;
  text-align: center;
  font-size: min(1.8em,18px);
  cursor: pointer;
}

@media (max-width: 420px) and (min-width: 0px) {
  .cntWrap2 .cnt2 section .btn {
    font-size: 16px;
    line-height: 40px;
    width: 120px;
  }
}

.cntWrap2 .cnt2 section .slideBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 50%;
  z-index: 10;
}

.cntWrap2 .cnt2 section .slideBtn i {
  font-size: min(4em,40px);
  color: #fff;
  position: relative;
  padding: min(1em,10px) min(0.5em,5px);
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media (max-width: 420px) and (min-width: 0px) {
  .cntWrap2 .cnt2 section .slideBtn i {
    padding: 20px 10px;
    font-size: 20px;
  }
}

.bnrWrap {
  margin-top: min(4rem,160px);
  width: 100vw;
  overflow: hidden;
  height: min(20rem,800px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./images/the_bibigo/product_main1.jpg");
}

@media (max-width: 420px) and (min-width: 0px) {
  .bnrWrap {
    margin-top: 80px;
  }
}

.ftrWrap {
  margin-top: 0;
}

.ftrWrap .gnbWrap {
  background-color: #09351b;
}

.ftrWrap .gnbWrap .gnb {
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  line-height: min(3rem,120px);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media (max-width: 1024px) and (min-width: 0px) {
  .ftrWrap .gnbWrap .gnb {
    width: 90%;
    max-width: 700px;
  }
}

@media (max-width: 420px) and (min-width: 0px) {
  .ftrWrap .gnbWrap .gnb {
    width: 90%;
    max-width: 440px;
  }
}

.ftrWrap .gnbWrap .gnb .topBtn {
  width: min(2rem,80px);
  height: min(2rem,80px);
  text-align: center;
  line-height: min(2rem,80px);
  font-size: min(1.6em,16px);
  font-family: 'Gowun Batang', serif;
  font-weight: 700;
  background-color: #71ad2c;
  position: absolute;
  left: 0;
  right: 0;
  top: -30%;
  margin: auto;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 420px) and (min-width: 0px) {
  .ftrWrap .gnbWrap .gnb .topBtn {
    display: none;
  }
}

.ftrWrap .gnbWrap .gnb .tabLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% / 12 * 5.2);
  font-family: 'Gowun Batang', serif;
  font-size: min(2em,20px);
  font-weight: 700;
}

@media (max-width: 420px) and (min-width: 0px) {
  .ftrWrap .gnbWrap .gnb .tabLeft {
    width: calc(100% / 4 * 3);
    font-size: 14px;
    line-height: 80px;
  }
}

.ftrWrap .gnbWrap .gnb .tabRight {
  width: calc(100% / 12 * 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: min(3.5em,35px);
}

@media (max-width: 420px) and (min-width: 0px) {
  .ftrWrap .gnbWrap .gnb .tabRight {
    display: none;
  }
}

.ftrWrap .gnbWrap .gnb .tabRight li i {
  height: min(3.5em,35px);
  position: relative;
}

.ftrWrap .gnbWrap .gnb .tabRight li i a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.ftrWrap footer {
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Noto Sans KR', sans-serif;
  padding-bottom: min(2rem,80px);
}

@media (max-width: 1024px) and (min-width: 0px) {
  .ftrWrap footer {
    display: block;
  }
}

@media (max-width: 1024px) and (min-width: 0px) {
  .ftrWrap footer {
    width: 90%;
    max-width: 700px;
  }
}

@media (max-width: 420px) and (min-width: 0px) {
  .ftrWrap footer {
    width: 90%;
    max-width: 440px;
  }
}

.ftrWrap footer .ftrLeft {
  margin-top: min(1rem,40px);
  width: calc(100% / 12 * 6);
  font-size: min(1.2em,12px);
  line-height: min(1rem,40px);
}

@media (max-width: 1024px) and (min-width: 0px) {
  .ftrWrap footer .ftrLeft {
    width: calc(100% / 12 * 8);
  }
}

@media (max-width: 420px) and (min-width: 0px) {
  .ftrWrap footer .ftrLeft {
    font-size: 12px;
    width: 100%;
  }
}

.ftrWrap footer .ftrLeft .infoTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: calc(100% / 6 * 5);
}

@media (max-width: 420px) and (min-width: 0px) {
  .ftrWrap footer .ftrLeft .infoTop {
    margin-top: 40px;
    width: 100%;
    display: block;
    line-height: 20px;
    height: 40px;
  }
}

.ftrWrap footer .ftrLeft .infoTop li:nth-child(2) {
  margin-left: min(2em,20px);
}

@media (max-width: 420px) and (min-width: 0px) {
  .ftrWrap footer .ftrLeft .infoTop li:nth-child(2) {
    margin-left: 0;
  }
}

.ftrWrap footer .ftrLeft .infoTop li {
  position: relative;
  padding: 0 7px 0 0;
  white-space: nowrap;
}

@media (max-width: 420px) and (min-width: 0px) {
  .ftrWrap footer .ftrLeft .infoTop li {
    white-space: unset;
  }
}

@media (max-width: 420px) and (min-width: 0px) {
  .ftrWrap footer .ftrLeft .infoMid {
    line-height: 40px;
  }
}

.ftrWrap footer .ftrLeft .infoBtm {
  color: #a0a0a0;
}

.ftrWrap footer .ftrRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: min(1rem,40px);
  font-weight: 700;
  width: calc(100% / 12 * 4);
  font-size: min(1.2em,12px);
  line-height: min(2rem,80px);
}

@media (max-width: 1024px) and (min-width: 0px) {
  .ftrWrap footer .ftrRight {
    margin-top: 0;
    width: calc(100% / 12 * 6);
  }
}

@media (max-width: 420px) and (min-width: 0px) {
  .ftrWrap footer .ftrRight {
    line-height: 40px;
    font-size: 12px;
    width: 100%;
  }
}

.ftrWrap footer .ftrRight h4:nth-child(1) {
  color: #71ad2c;
}

.ftrWrap footer .ftrRight .logo {
  background-image: url("./images/logo_cj.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: min(2rem,80px);
  width: calc(100% / 4 * 2 - 20px);
}

@media (max-width: 420px) and (min-width: 0px) {
  .ftrWrap footer .ftrRight .logo {
    display: block;
    height: 45px;
  }
}
/*# sourceMappingURL=bibigo_thebibigo.css.map */